
/example_segmentations
/example_lowres_segmentations
/example_lowres_inputs
/example_inputs
LOKI_resize.asv
LOKI images-20241007T173033Z-001.zip
/LOKI images
/example_lowres_segmentations2
/example_lowres_inputs2
/LOKI_for_prosome_segmentation
mask_vs_points/project-11-points.csv
mask_vs_points/project-12-masks.csv
/mask_vs_points/masks
/cUVP6_darkedge
/UVP5_greenedge
/UVP6_darkedge
/prosome_mask
/LOKI-segmentation
LOKI-segmentation.zip
